DASHSCOPE_API_KEY=
DASHSCOPE_BASE_URL=
SEHAT_API_HOST=
SEHAT_API_PORT=
SEHAT_CORS_ORIGINS=
SEHAT_DB_PATH=
SEHAT_ENV=
SEHAT_LLM_MODEL=
SEHAT_LLM_PROVIDER=
SEHAT_LLM_TIMEOUT=
SEHAT_LOG_LEVEL=
SEHAT_MAX_FOLLOWUP_ROUNDS=
SEHAT_MAX_MESSAGE_CHARS=